.b-menu {
    display: none;
    
    &--visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $lightBlue;
        animation: fade-in 2s ease-in-out;   
    }

    &-search {
        margin-top: 1rem;
        
        &-input {
            border: none;
            outline: 0;
            background-color: inherit;
            border-bottom: solid .5px $mainGrey;
            font-size: 2.2rem;
            color: $mainWhite;

            &::placeholder {
                color: $mainWhite;
                opacity: .3;
                font-family: 'Markazi Text', serif;
            }
        }
    }

    &-list {
        list-style: none;
        align-self: flex-start;
        margin-top: 5rem;

        &__item {
            font-size: 3rem;
            color: $mainWhite;
            cursor: pointer;
            font-family: 'Markazi Text', serif;

            &:hover {
                background-color: $darkGold;
            }
        }
    }
}